

<div data-ng-controller="loginController as vm" class="right">
    <button type="button" class="btn btn-facebook" data-ng-click="vm.facebookLogin()" data-ng-hide="vm.isAuthenticated" data-ng-show="!vm.isAuthenticated"><i class="fa fa-facebook"></i> Facebook</button>
    <!--<button type="button" class="btn btn-google-plus" data-ng-click="vm.googleLogin()" data-ng-hide="vm.isAuthenticated" data-ng-show="!vm.isAuthenticated"><i class="fa fa-google-plus"></i> Google+</button>
    <button type="button" class="btn btn-primary" data-ng-click="vm.logout()" data-ng-show="vm.isAuthenticated" data-ng-hide="!vm.isAuthenticated">Logout</button>-->
</div>
